<!--<div class="container">
    <div class="jumbotron">
     
      <div id="content">
        <h1>Wizz Library</h1>
        <h3>Here you can create and manage your oun recipes</h3>
        <hr>
        <button 
        class="btn btn-default btn-lg"><i class="fa fa-cutlery" aria-hidden="true"></i>
         Get Started!</button>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="jumbotron">
      <h1>Wizz Library</h1>
      <p>Here you can create and manage your oun recipes</p> 
    </div>

  </div>-->
  <div class="container">
  <ngb-carousel>
  <ng-template ngbSlide>
    <img src="https://cdn.pixabay.com/photo/2017/01/11/11/03/notebook-1971495__340.jpg" alt="Random first slide">
    
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    
    <img src="https://cdn.pixabay.com/photo/2017/12/11/17/01/zimtstern-3012712__340.jpg" alt="Random second slide">
   
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div> 
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://cdn.pixabay.com/photo/2017/09/18/14/49/egg-sandwich-2761894__340.jpg"alt="Random third slide">
   
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
</div>